body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.page {
  height: 1500px;
  padding: 20px;
}
.page#page-home {
  background-color: #008000;
}
.page#page-about {
  background-color: #f00;
}
.page#page-pricing {
  background-color: #ffc0cb;
}
.page#page-signup {
  background-color: #ff0;
}
#yield {
  width: 80%;
  min-width: 400px;
  overflow: auto;
  margin: 0 auto;
}
#top-menu {
  width: 80%;
  margin: 0 auto;
  min-width: 400px;
}
