body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.page
  height 1500px
  padding 20px

.page#page-home
  background-color green

.page#page-about
  background-color red

.page#page-pricing
  background-color pink

.page#page-signup
  background-color yellow

#yield
  //position absolute
  //top 42px
  width 80%
  min-width 400px
  //width 100%
  //border 1px solid red
  overflow auto
  //height 100%
  margin 0 auto;

#top-menu
  width 80%;
  margin 0 auto;
  min-width 400px
